# Ignore testfile.txt under File_IO directory
File_IO/testfile.txt
# ignore .vscode directory
.vscode/ 
# ignore existing_benchmark directory
existing_benchmark/
# ignore new_benchmark directory
coremark/